verbose: true
port: 48869
endpoint.port: 18000
management.security.enabled: true
security.user.name: admin
security.user.password: admin
management.endpoints.web.exposure.include: health,info,metrics,prometheus